[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11.22"
six = "~=1.9"
pyee = "~=3.0"
slackclient = "~=1.0"
slacker = "~=0.9"
urllib3 = ">=1.24.2"

[dev-packages]

[requires]
python_version = "2.7"
